# PostgreSQL Shards
DB_SHARD_0_URL=postgresql://user:pass@localhost:5432/orders_shard_0
DB_SHARD_1_URL=postgresql://user:pass@localhost:5432/orders_shard_1
DB_SHARD_2_URL=postgresql://user:pass@localhost:5432/orders_shard_2
DB_SHARD_3_URL=postgresql://user:pass@localhost:5432/orders_shard_3

# GCS
GCS_BUCKET_NAME=your-bucket-name

# App
PORT=3000
